$yellow:#FFFF00;
$red:#FF0000;
body{
  width: auto;
  margin: auto;
  font-size: 15px;
  color: black;
  font-family: Arial, serif;
}
#game{
  width: 700px;
  height: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  //background: #FF0000;
  //border: solid 1px black ;
}
.content{
  width: 700px;
  height: 39px;
  display: inline-block;
  border: solid 2px cadetblue;
  .fa-bars{
    display: block;
    margin: 20px 0 0 20px;
  }
  .level{
    float: left;
    display: block;
    margin-left: 50px;
    margin-top: -13px;
  }
  .score{
    float: right;
    display: block;
    margin-top: -13px;
    margin-right: 60px;
  }
}
  #canvas{
    width: 700px;
    height: 460px;
    display: block;
    margin-top: 1px;
    border: solid 1px black;
    background-color: #79CDCD;
  }








